@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.line-clamp {
		display: -webkit-box;
		-webkit-line-clamp: 8;
		-webkit-box-orient: vertical;
		overflow: ellipse;
	}
}

@layer modal {
	.customOverlay {
		background: rgba(36, 123, 160, 0.7);
	}
	.customModal {
		background: #b2dbbf;
		max-width: 500px;
		width: 100%;
	}
	.
}
