@import url("https://fonts.googleapis.com/css?family=Inter:regular,bold,italic");

* {
	font-family: "Inter", sans-serif;
}

body {
	/* background: #f2f2f2; */
	/* font-family: "Open Sans"; */
}

.font-weight-sb {
	font-weight: 550;
}

.input-tag {
	background: white;
	border: 1px solid #d6d6d6;
	border-radius: 6px;
	display: flex;
	flex-wrap: wrap;
	padding: 5px 5px 0;
	margin: 5px;
}

.no-outline {
	outline: 0 !important;
}

.input-tag input {
	border: none;
	width: 100%;
}

.input-tag__tags {
	display: inline-flex;
	flex-wrap: wrap;
	border-width: 0px;
	border: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

.input-tag__tags li {
	align-items: center;
	background: #85a3bf;
	border-radius: 20px;
	color: white;
	font-size: 17;
	display: flex;
	font-weight: 300;
	list-style: none;
	margin-bottom: 5px;
	margin-right: 5px;
	padding: 0px 8px;
}

.input-tag__tags li button {
	align-items: center;
	appearance: none;
	/* background: #333333; */
	border: none;
	border-radius: 50%;
	color: #333333;
	cursor: pointer;
	display: inline-flex;
	font-size: 12px;
	height: 15px;
	justify-content: center;
	line-height: 0;
	margin-left: 8px;
	padding: 0;
	transform: rotate(45deg);
	width: 15px;
}

.input-tag__tags li.input-tag__tags__input {
	background: none;
	flex-grow: 1;
	padding: 0;
	border-width: 0px;
	border: none;
}

.input:focus {
	outline: none !important;
}
.form-control:focus {
	border-color: inherit !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}
select {
	outline: 0 !important;
}

/* // tailwind accordian */

/* Tab content - closed */
.tab-content {
	max-height: 0;
	-webkit-transition: max-height 0.35s;
	-o-transition: max-height 0.35s;
	transition: max-height 0.35s;
}
/* :checked - resize to full height */
.tab input:checked ~ .tab-content {
	max-height: 100vh;
}
/* Label formatting when open */
.tab input:checked + label {
	/*@apply text-xl p-5 border-l-2 border-indigo-500 bg-gray-100 text-indigo*/
	font-size: 1.25rem; /*.text-xl*/
	padding: 1.25rem; /*.p-5*/
	border-left-width: 2px; /*.border-l-2*/
	border-color: #6574cd; /*.border-indigo*/
	background-color: #f8fafc; /*.bg-gray-100 */
	color: #6574cd; /*.text-indigo*/
}
/* Icon */
.tab label::after {
	float: right;
	right: 0;
	top: 0;
	display: block;
	width: 1.5em;
	height: 1.5em;
	line-height: 1.5;
	font-size: 1.25rem;
	text-align: center;
	-webkit-transition: all 0.35s;
	-o-transition: all 0.35s;
	transition: all 0.35s;
}
/* Icon formatting - closed */
.tab input[type="checkbox"] + label::after {
	content: "+";
	font-weight: bold; /*.font-bold*/
	border-width: 1px; /*.border*/
	border-radius: 9999px; /*.rounded-full */
	border-color: #b8c2cc; /*.border-grey*/
}
.tab input[type="radio"] + label::after {
	content: "\25BE";
	font-weight: bold; /*.font-bold*/
	border-width: 1px; /*.border*/
	border-radius: 9999px; /*.rounded-full */
	border-color: #b8c2cc; /*.border-grey*/
}
/* Icon formatting - open */
.tab input[type="checkbox"]:checked + label::after {
	transform: rotate(315deg);
	background-color: #6574cd; /*.bg-indigo*/
	color: #f8fafc; /*.text-grey-lightest*/
}
.tab input[type="radio"]:checked + label::after {
	transform: rotateX(180deg);
	background-color: #6574cd; /*.bg-indigo*/
	color: #f8fafc; /*.text-grey-lightest*/
}

/* small css for the mobile nav close */
#nav-mobile-btn.close span:first-child {
	transform: rotate(45deg);
	top: 4px;
	position: relative;
	background: #a0aec0;
}
#nav-mobile-btn.close span:nth-child(2) {
	transform: rotate(-45deg);
	margin-top: 0px;
	background: #a0aec0;
}
